__pycache__/
.pytest_cache
**/__pycache__
.vscode/

.env
.venv

airflow/logs/*
!airflow/logs/.gitkeep

airflow/plugins/*
!airflow/plugins/.gitkeep

donnees_brutes/*
!donnees_brutes/.gitkeep
!donnees_brutes/nomenclatures
donnees_brutes/nomenclatures/*
!donnees_brutes/nomenclatures/naf2008_5_niveaux.xlsx

stockage/*
!stockage/.gitkeep