__pycache__/
.pytest_cache
**/__pycache__
.vscode/

.env
.venv

airflow/logs/*
!airflow/logs/.gitkeep

airflow/plugins/*
!airflow/plugins/.gitkeep

donnees_brutes/collecte_offres_francetravail/*
!donnees_brutes/collecte_offres_francetravail/.gitkeep

donnees_brutes/collecte_nomenclature_rome_francetravail/*
!donnees_brutes/collecte_nomenclature_rome_francetravail/.gitkeep

duckdb_cli

stockage/*
!stockage/.gitkeep